@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
	background-color: #dadada;
}


.container{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: black;
    width: 324px;
    height: 444px;
    margin: auto;
    margin-top: 100px;
    padding: 12px;
    padding-color: white;
    border-radius: 25px;
}

header{ 
	background-image: url("../images/2.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
	height: 250px;
	margin: auto;
	border-radius: 10px 10px 0 0;
}

header h1{
	margin: auto;
	text-align: center;
    font-family: 'Cinzel', serif;
	background-color: rgba(219, 219, 219, 0.8);
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid black;
	font-style: italic;
	font-weight: 800;

}	

header img {
	height: 50px;
	width: 50px;
	background-color: rgba(219, 219, 219, 0.8);
	padding: 2px;
	border-radius: 30px;
	margin: 8px;
}

.row {
	width: 100%;
	overflow: auto;
}
article
{
	height: 100px;
}  


article > h2{
	font-size: 20px;
	text-align: center;
	font-style: italic;
	margin-bottom: 5px; 
}

footer {
	height: 70px; 
    border-radius: 0 0 10px 10px;
    font-style: italic;
}

footer, article {
	background-color: rgba(219, 219, 219, 0.8);
	padding: 5px 12px 5px 12px;
	margin: auto;
}