*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size:100%;
    font-weight:300;
}
body{
    height:900px;
    background-color:rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    width:400px;
    height:550px;
    background-color:rgb(46, 29, 29);
    border:2px solid rgb(39, 37, 37);
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    width:360px;
    height:510px;
    background-color:rgb(52, 52, 52);
    border-radius:2px;
}
.header{
    font-size:15px;
    display:flex;
    justify-content:center;
}
h1{
    color:white;
}
.picture{
    display:flex;
    justify-content:center;
}
.pic{
    width:320px;
    height:255px;
    border:5px solid white;
    border-radius:5px;
}
.type{
    margin-top:15px;
    margin-left:20px;
}
p{
    color:white;
    font-size:18px;
}
.ability{
    margin-top:15px;
    margin-left:20px;
}
.stats{
    width:360px;
    height:110px;
    color:white;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
img{
    width:64px;
    height:64px;
}
.attack{
    display:flex;
    align-items:center;
}
.numbers{
    font-size:40px;
}
.health{
    display:flex;
    align-items:center;
}