*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 80px;
    justify-content: center;
}
body{
    background-color:#F7C59F;
}
#ohraniceni{
    height: 510px;
    width: 360px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vse{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F7C59F;
    height: 510px;
    width: 1920px;
}
#karta{
    display: flex;
    align-items: center;
    height: 500px;
    width: 350px;
    background-color:#576B9E ;
    padding: 5px;
    flex-direction: column;
}
#vrsek{
    font-family: 'Calistoga', cursive;
    font-size: 30px;
    width: 100%;
    background-image: url("../css/images/mundo.jpg");
    background-repeat: no-repeat;
    height: 250px;
    padding: 10px;
    border-style:solid;
    border-radius: 20px;
}
h1{
    color: black;
    font-size: 20px;
    border-style: solid;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    width: 77px;
    background-color: #747CAB;
    display: flex;
    justify-content: center;
}
#type{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height:20px;
    width: 300px;
    margin-top: 5px;

}
#informace{
    font-family: 'Roboto Slab', serif;
    margin-top:10px;
    background-color:#747CAB ;
    height:140px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 7px;
    border-style: solid;
    border-radius: 10px;
}
#statistiky{
    margin-top: 10px;
    height: 50px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.sword{
    height: 40px;
    width: 40px;
}
#sila{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction:row;
    height: 40px;
    width: 60px;
    font-size: 35px;
}
.healt{
    height: 40px;
    width: 40px;
}
#hp{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction:row;
    margin-right: 17px;
    height: 40px;
    width: 60px;
    font-size: 35px;
}
#karta2{
    display: flex;
    align-items: center;
    height: 500px;
    width: 350px;
    background-color:#F7CE5B;
    padding: 5px;
    flex-direction: column;
} 
#nadpis2{
    background-color: #DFD6A7;
}
#vrsek2{
    font-family: 'Calistoga', cursive;
    font-size: 30px;
    width: 100%;
    background-image: url("../css/images/treemo.jpeg");
    background-repeat: no-repeat;
    background-size: 340px 250px ;
    height: 250px;
    padding: 10px;
    border-style:solid;
    border-radius: 20px;
}
#type2{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height:20px;
    width: 300px;
    margin-top: 5px;

}
#informace2{
    font-family: 'Roboto Slab', serif;
    margin-top:10px;
    background-color:#DFD6A7 ;
    height:140px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}
#statistiky2{
    margin-top: 10px;
    height: 50px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.sword2{
    height: 40px;
    width: 40px;
}
#sila2{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction:row;
    height: 40px;
    width: 60px;
    font-size: 35px;
}
.healt2{
    height: 40px;
    width: 40px;
}
#hp2{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction:row;
    margin-right: 17px;
    height: 40px;
    width: 60px;
    font-size: 35px;
}
#karta3{
    display: flex;
    align-items: center;
    height: 500px;
    width: 350px;
    background-color:#765196;
    padding: 5px;
    flex-direction: column;
} 
#nadpis3{
    background-color: #9B6FA7;
}
#vrsek3{
    font-family: 'Calistoga', cursive;
    font-size: 30px;
    width: 100%;
    background-image: url("../css/images/Wiegar.jpeg");
    background-repeat: no-repeat;
    background-size: 340px 250px ;
    height: 250px;
    padding: 10px;
    border-style:solid;
    border-radius: 20px;
}
#type3{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height:20px;
    width: 300px;
    margin-top: 5px;

}
#informace3{
    font-family: 'Roboto Slab', serif;
    margin-top:10px;
    background-color:#9B6FA7 ;
    height:140px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}
#statistiky3{
    margin-top: 10px;
    height: 50px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.sword3{
    height: 40px;
    width: 40px;
}
#sila3{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction:row;
    height: 40px;
    width: 60px;
    font-size: 35px;
}
.healt3{
    height: 40px;
    width: 40px;
}
#hp3{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction:row;
    margin-right: 17px;
    height: 40px;
    width: 60px;
    font-size: 35px;
}

