*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b1b1b1;
    text-align: center;
}

.tag{
    background-color: #ffc800a0;
    margin-bottom: 10px;
    position: absolute;
    transform: rotate(-45deg);
    left: -100px;
    top: 80px;
    padding: 10px 100px;
}

.tag h1{
    font-size: 30px;
}

.tag h2{
    font-size: 15px;
}

.card{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 500px;
    margin: 50px auto;
    font-family: 'Tomorrow', sans-serif;
}

.container-all{
    background-color: #7a2800;
    width: 500px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.container-in{
    margin: 9px 0;
    background-color: #d84a05;
    width: 475px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}

.table{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-style: italic;
    background-color: #000;
    color: #d64905;
}

.table p{
    padding: 12px 10px;
}

.table-1{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-weight: bold;
}

.table-2{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-weight: bold;
}

.table img{
    height: 60px;
}

.header{
    background-image: url(../images/proufijle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
}

.info{
    padding: 0px 8px 8px 8px;        background-image: linear-gradient(45deg, #d84a05, #642405);
}

.info h2{
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.info p{
    font-size: 17px;
}

.image{
    display: flex;
    justify-content: center;
}