*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 16px;
}
body{
	height: 1000px;
	width: 2000px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 300px;
	height: 400px;
	background-color: #0A2472;
	display: flex;
	justify-content: center;
	align-items: center;
}
.karta{
	width: 270px;
	height: 375px;
	background-color: #001C55;
}
.tutu{
	font-size: 30px;
	margin-top: 10px;
	color: white;
	display: flex;
	justify-content: center;
}
.obrazek{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
img{
	width: 250px;
	height: 140px;
}
