*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size:100%;
    font-weight:300;
}
body{
    height:900px;
    width:2000px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    width:500px;
    height:800px;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.karta{
    width:475px;
    height:775px;
    background-color:#3f3e3e;
}
.jmeno{
    color:rgb(35, 140, 209);
    font-size:50px;
    margin-top:10px;
    display:flex;
    justify-content:center;
}
.obrazek{
    margin-top:10px;
    display:flex;
    justify-content:center;
}
img{
    width:436px;
    height:254px;
}
.informace{
    font-size:25px;
    color:rgb(35, 140, 209);
    margin-top:10px;
}
.nadpis{
    font-size:35px;
    display:flex;
    justify-content:center;
}
.popis{
    font-size:30px;
    margin-left:5px;
    margin-right:5px;
}
.staty{
    color:rgb(35, 75, 252);
    width:475px;
    height:250px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.nadpis1{
    font-size:40px;
}
.cisla{
    font-size:25px;
}
.nadpis2{
    font-size:40px;
}