* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    display:flex;
    flex-direction:column;
    align-items:center;    
}
header {
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.background {
    background-image: url(images/background.png);
    background-size: 100% 100%;
    width: 450px;
    height: 600px;
    border-radius: 20px;
}
.border {
    background-color: #ffffff9a;
    padding: 15px;
    width: 450px;
    height: 600px;
    border-radius: 20px;
}
.center-part {
    background-image: url(images/background.png);
    background-size: 100% 100%;
    width: 420px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}
.top-part {
    height: 25px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bebas Neue', cursive;
    padding-top: 20px;
    padding-bottom: 10px;
}
.maanaa {
    display: flex;
    align-items:center;
    width:55px;
    font-size:28px;
    padding-left: 10px;
    color: #1489de;
    margin-top: 1px;
}
    .mana_crystal {
        height: 28px;
        margin-left: 5px;
    }
.name {
    padding-left: 10px;
    width: 50%;
    font-size: 30px;
}
.ffgh {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    padding-right: 10px;
}
.picture {
    width: 400px;
    height: 225px;
    margin-left: 10px;
    margin-top: 10px;
}
.raarity {
    display: flex;
    justify-content: flex-end;
    padding-right:10px;
}
.rarity {
    font-size: 30px;
    font-family: 'Sulphur Point', sans-serif;
}
.main {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #1111112a;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
}
.footer-wanna-be {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.footer-wanna-be > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}
.footer-wanna-be > ul > li {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
.lulw {
    margin-right: 20px;
    background-color: #1111111a;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    display:flex;
    align-items: center;
}
.stats {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    padding-top:20px;
}
.feeling-good {
    height: 25px;
}
.end-is-near {
    padding: 5px;
}
.hp {
    color: #fb5f5b;
    padding: 5px
}