*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  background-image:url(../images/download.jpg);
  background-repeat: no-repeat;
  background-size:100% 170%;
}
.container{
  max-width: 500px;
  margin:auto;
}
.card{
  display:flex;
  align-items:center; 
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  padding:100px;
  color: goldenrod;
  width:400px;
  
  
}

   

.síly{
  padding:40px;
  background-color: rgba(165, 101, 16, 0.794);

  
}
h4{
  font-size:25px;
  display:flex;
  background-color:rgb(143, 83, 5);
  height:50px;


}
.chewie{
  padding:60px;
  background-color:rgb(143, 83, 5);
  height:650px;
  border: 10px rgb(235, 185, 121) solid;
}
#mdbd{
  border-color: lightgrey;
  background-color:rgb(143, 83, 5);
  border: 10px rgb(235, 185, 121) solid;
  
}
#popisek{
  font-size:9px;
  background-color:rgb(143, 83, 5);
  height:50px;
  padding:40px;
  max-width:400px;
  color: yellow;

}
#rebel{
  display:flex;
  justify-content: center;
  background-image:url(../images/ree.png);
  background-repeat:no-repeat;
  background-size: 40px;
  background-position:center;
  height:50px;
  padding:30px;
  margin:auto;
  color: yellow;

}
#wook{
  font-size:16px;
}





