* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


.container {
    max-width: 400px;
    margin: auto;
}

.karta {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf5ba+0,efd110+100 */
    background: #fcf5ba;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcf5ba 0%, #efd110 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcf5ba 0%, #efd110 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcf5ba 0%, #efd110 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf5ba', endColorstr='#efd110', GradientType=0);
    /* IE6-9 */
    text-align: center;
    margin-top:20px;
    padding: 10px;
    border-radius: 10px
}

.blok {
    background: url(img/bg-blok.jpg);
    margin: 1px;
    padding: 10px 15px;
    justify-content: center;
}

h1 {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf5ba+0,efd110+100 */
    background: #fcf5ba;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcf5ba 0%, #efd110 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcf5ba 0%, #efd110 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcf5ba 0%, #efd110 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf5ba', endColorstr='#efd110', GradientType=0);
    /* IE6-9 */

}

h2 {
    font-size: 30px;
    color: white;
    justify-content: center;
    padding: 80px 10px 10px 18px;
    margin: 10px;
    text-align:center;


}

h3 {
    color: white;
    padding: 10px 50px;
    text-align: center;
}

.zarovnání{
    text-align: left;
    justify-content: flex;
    padding: 5px;
    margin-top: 5px;
}

.profile-img {
    object-fit: contain;
    width: calc(100% - 4px);
    height: 200px;
    background: url(img/bg-image2.jpg);
    background-size: cover;
    border: 2px solid #efd111;
}

.flex-row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

.flex-row img {
    width: 30px;
    height: auto;
}