@font-face {
    font-family: 'dist';
    src: url('../fonts/distinking-regular-webfont.woff2') format('woff2'),
         url('../fonts/distinking-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.one{
    background-color: black;
    color: #E2E2E2;
    font-family: 'dist', serif;
    justify-content: center;
}

.container{
    width: 500px;
    margin: auto;
}

.header {
    text-align: center;
}

img{
    width: 450px;
    height: 500px;
   border-radius: 5%;
}

.p{
    font-size: 150%;
}

.card {
    border-style: solid;
    border-width: 5%;
    border-color: #0C1821;
    background: #121F3F;
    border-radius: 5%;
}
